@import './common/./var.less';
@import './mixins/_button.less';

.w-button {
  display: inline-block;
  line-height: 1.0;
  white-space: nowrap;
  cursor: pointer;
  border: @--border-base;
  border-color: @--button-default-color;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: @--button-font-weight;
  padding: @--button-padding-vertical @--button-padding-horizontal;
  font-size: @--button-font-size;
  border-radius: @--button-border-radius;
  color: @--button-default-color;
  border-color: @--button-default-border;
  background: @--button-default-fill;

  &:hover,
  &:focus {
    color: @--color-primary;
    border-color: @--color-primary-light-7;
    background-color: @--color-primary-light-9;
  }

  &:active {
    color: mix(@--color-black, @--color-primary, @--button-active-shade-percent);
    border-color: mix(@--color-black, @--color-primary, @--button-active-shade-percent);
    outline: none;
  }


  // is-plain
  &.is-plain {
    &:hover,
    &:focus {
      background: @--color-white;
      border-color: @--color-primary;
      color: @--color-primary;
    }

    &:active {
      background: @--color-white;
      border-color: mix(@--color-black, @--color-primary, @--button-active-shade-percent);
      color: mix(@--color-black, @--color-primary, @--button-active-shade-percent);
      outline: none;
    }
  }

  // disabled-default
  &.is-disabled {
    &,
    &:hover,
    &:focus {
      color: @--button-disabled-color;
      cursor: not-allowed;
      background-image: none;
      background-color: @--button-disabled-fill;
      border-color: @--button-disabled-border;
    }
  }


  /* type
  ---------------------- */
  // type: primary
  &--primary {
    .button-variant(@--button-primary-color, @--button-primary-fill, @--button-primary-border);
  }

  // type: success
  &--success {
    .button-variant(@--button-success-color, @--button-success-fill, @--button-success-border);
  }

  // type: info
  &--info {
    .button-variant(@--button-info-color, @--button-info-fill, @--button-info-border);
  }

  // type: warning
  &--warning {
    .button-variant(@--button-warning-color, @--button-warning-fill, @--button-warning-border);
  }

  // type: danger
  &--danger {
    .button-variant(@--button-danger-color, @--button-danger-fill, @--button-danger-border);
  }

  // round
  &.is-round {
    border-radius: 20px;
    padding: 12px 23px;
  }

  // circle
  &.is-circle {
    border-radius: 50%;
    padding: @--button-padding-vertical;
  }
    
  // icon
  & [class*="el-icon-"] {
    & + span {
      // margin-left: 5px;
    }
  }

  /* size 
  ---------------------*/
  // medium
  &--medium {
    .button-size(@--button-medium-padding-vertical, @--button-medium-padding-horizontal, @--button-medium-font-size, @--button-medium-border-radius);
    &.is-circle {
      padding:@--button-medium-padding-vertical;
    }
  }

  // small
  &--small {
    .button-size(@--button-small-padding-vertical, @--button-small-padding-horizontal, @--button-small-font-size, @--button-small-border-radius);
    &.is-circle {
      padding:@--button-small-padding-vertical;
    }
  }

  // mini
  &--mini {
    .button-size(@--button-mini-padding-vertical, @--button-mini-padding-horizontal, @--button-mini-font-size, @--button-mini-border-radius);

    &.is-circle {
      padding:@--button-mini-padding-vertical;
    }
  }

}